# OS
.AppleDouble/
*.DS_Store

# Doc, log, lock
npm-debug.log
package-lock.json

# npm
node_modules/*

# jQuery
!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/dist/
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js